anyio==4.8.0
argcomplete==3.6.2
beautifulsoup4==4.14.2
blinker==1.9.0
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.40.46
botocore==1.40.46
Brlapi==0.8.7
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.1
cockpit @ file:///builddir/build/BUILD/cockpit-348-build/cockpit-348/tmp/wheel/cockpit-348-py3-none-any.whl#sha256=3b2d0e9576fd89f51def86287b1395fe1a4378688b70cce83129d7205dacef46
crypt_r==3.13.1
cssselect2==0.8.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
defusedxml==0.7.1
distro==1.9.0
dnf==4.23.0
dotenv==0.9.9
file-magic==0.4.0
Flask==3.1.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.12.3
idna==3.10
initial-setup==0.3.101
iso639==0.1.4
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
langtable==0.0.69
libcomps==0.1.23
libdnf==0.74.0
libdnf5==5.2.17.0
louis==3.33.0
lxml==6.0.1
MarkupSafe==3.0.3
nftables==0.1
olefile==0.47
packaging==25.0
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
ply==3.11
productmd==1.48
psutil==7.0.0
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pyenchant==3.2.2
PyGObject==3.54.3
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
pyparted==3.13.0
PySocks==1.7.1
pystray==0.17.3
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.52
python-xlib==0.33
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
RapidFuzz==3.12.2
regex==2025.8.29
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
rpm==6.0.0
s3transfer==0.14.0
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35-build/setroubleshoot-3.3.35/src
setuptools==78.1.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.10.0
soupsieve==2.8
sqlcipher3==0.6.2
systemd-python==235
tinycss2==1.4.0
typing_extensions==4.15.0
urllib3==2.5.0
webencodings==0.5.1
Werkzeug==3.1.6
xkbregistry==0.3
