
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: white;
}

nav{
    width: 100%;
    height: 10vh;
    border: 2px solid black;
    background-color: rgba(156, 155, 155, 0.947);
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: default;
    justify-content: space-between;
}

/* The code which is give below is used for desiging the Logo Page*/
body.Logo_body{
    background-color: black;
    cursor : default;
}
body.Logo_body .main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body.Logo_body .main .Logo{
    opacity: 0;
    animation: flicker 3s infinite;
}

@keyframes flicker{
    0%,19%,21%,23%,25%,54%,56%,100%{
        opacity: 1;
        filter: drop-shadow(0 0 15px lime);
    }
    20%,22%,24%,55%{
        opacity: 0.5;
        filter: none;
    }
}

body.Logo_body p{
    font-weight: 800;/*This is used to make the font bold*/
    cursor : default;
}

/* The code which is give below is used for desiging the Loading Page*/
body.loading_page .main{
    width: 100%;
    height: 100vh;
    background-image: url("../images/Stock_Exchange.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
body.loading_page .main .title{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body.loading_page .main .bottom{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body.loading_page .main .bottom .start{
    width: 15%;
    height: 15%;
    color: black;
    font-family: 'montserrat';
    background-color: rgba(16, 187, 16, 0.979);
    border: 1.5px solid black;
    font-weight: 600;
    transition: 0.8s ease;
    border-radius: 25px;
    cursor: pointer;
}
body.loading_page .main .bottom .start:hover{
    background-color: red;
    color: white;
}
.privacy{
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s ease;
}
.privacy:hover{
    color: red;
}
body.loading_page .main .bottom .loading_line{
    border: 1.5px solid black;
    width: 40%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    display:none;
}
body.loading_page .main .bottom .loading_line .internal_loading_line{
    border: 1.5px solid yellow;
    border-radius: 25px;
    width: 99%;
    height: 70%;
    background-color: yellow;
    animation: loading_anime 2s forwards cubic-bezier(0,0,0,0);
    position: relative;
}

@keyframes loading_anime{
    0%{
        width: 0%;
    }
    100%{
        width: 99%;
    }
}
/* This code which is given below is for designing the Privacy Policy Page */
body.privacyPolicy{
    background-color: black;
}
body.privacyPolicy .main{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 20px;
    color: white;
}
body.privacyPolicy .main h2{
    font-size: 2.8vw;
}
body.privacyPolicy .main p{
    font-weight: 500;
}
body.privacyPolicy .main button{
    width: 15vw;
    height: 7vh;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: 600;
    border: 1.5px solid black;
    transition: ease 0.5s;
    margin-left: 20px;
    cursor: pointer;
}
body.privacyPolicy .main button:hover{
    background-color: red;
    color: white;
}

/*The code whuch is given below is used for designing the form page*/
body.form_page .main{
    width: 100%;
    height: 100vh;
    border: 2px solid green;
    filter: blur("30px");
    overflow: hidden;
    filter: blur(3px);
}

body.form_page .form{
    border: 3px solid white;
    width: 40vw;
    height: 80vh;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 228, 228);
    padding: 5px;
}

body.form_page .form form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.form_page .form form .name1{
    width: 30vw;
    height: 7vh;
    border-radius: 20px;
    background-color: white;
    border: 1.5px solid white;
    padding: 15px;
    color: black;
    font-weight: 550;
    font-size: 1.2vw;
}
body.form_page .form form .name1:active{
    border: 0.5px solid black;
}
body.form_page .form form .login_button{
    width: 15vw;
    height: 7vh;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: 600;
    border: 1.5px solid black;
    transition: ease 0.5s;
}
body.form_page .form form .login_button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
body.form_page .form form #back_login:hover{
    background-color: red;
    color: white;
}
body.form_page .form form #back_login2:hover{
    background-color: red;
    color: white;
}
/* The code which is give below is used for designing the Home Page*/
body.home_page .main{
    width: 100%;
    height: 100vh;
    filter: blur(0px);
}
body.home_page .main nav .account_icon{
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    transition: transform ease 0.5s;
}
body.home_page .main nav .account_icon:hover{
    transform: rotateY(180deg);
}
body.home_page .main nav .leaderboard{
    width: 12vw;
    color: black;
    background-color: white;
    font-size: 1.3vw;
    height: 5vh;
    font-weight: 600;
    border: 1.5px solid black;
    border-radius: 25px;
    transition: ease 0.5s;
    cursor: pointer;
}
body.home_page .main nav .leaderboard:hover{
    background-color: black;
    color: white;
}
body.home_page .main nav .help{
    width: 10vw;
    color: black;
    background-color: white;
    font-size: 1.3vw;
    height: 5vh;
    font-weight: 600;
    border: 1.5px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: ease 0.5s;
}
body.home_page .main nav .help:hover{
    background-color: black;
    color: white;
}
body.home_page .main nav .money_container .money_icon{
    width: 3.5vw;
    height: 3vw;

}
body.home_page .main nav .money_container .money{
    width: auto;
    color: black;
    background-color: white;
    font-size: 1.3vw;
    height: 5vh;
    font-weight: 600;
    border: 1.5px solid black;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
body.home_page .main nav .setting_icon{
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    transition: ease 0.5s;
}
body.home_page .main nav .setting_icon:hover{
    transform: rotate(60deg);
}

body.home_page .main .hero1{
    width: 100%;
    height: 90vh;
    display: flex;
}
body.home_page .main .hero1 .chart_container{
    width: 70%;
    height: 100%;
}
body.home_page .main .hero1 .chart_container .chart_box{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
body.home_page .main .hero1 .chart_container .footer{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: rgba(156, 155, 155, 0.947);
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: default;
    justify-content: space-between;
}
body.home_page .main .hero1 .chart_container .footer .history{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 25px;
    border: 1.5px solid black;
    cursor: pointer;
    transition: ease 0.5s;
}
body.home_page .main .hero1 .chart_container .footer .history:hover{
    background-color: black;
    color: white;
}
body.home_page .main .hero1 .chart_container .footer .zoom{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 25px;
    border: 1.5px solid black;
    cursor: pointer;
    transition: ease 0.5s;
}
body.home_page .main .hero1 .chart_container .footer .zoom:hover{
    background-color: black;
    color: white;
}

body.home_page .main .hero1 .chart_container .footer .buy_sell{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body.home_page .buy{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 25px;
    border: 1.5px solid black;
    cursor: pointer;
    transition: ease 0.5s;
}
body.home_page .buy:hover{
    background-color: rgba(13, 165, 13, 0.893);;
    color: white;
}
body.home_page .sell{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 25px;
    border: 1.5px solid black;
    cursor: pointer;
    transition: ease 0.5s;
}
body.home_page .sell:hover{
    background-color: red;
    color: white;
}
body.home_page .main .hero1 .LOC{
    width: 30%;
    height: 100%;
    overflow: auto;
}
body.home_page .main .hero1 .LOC .list_of_companies{
    width: 100%;
    height: 5%;
    background-color: black;
}

/*From here we will design leaderboard page*/

body.leaderBoard_paqge .main{
    width: 100%;
    height:  100vh;
}
body.leaderBoard_page .main nav .back_png{
    width: 4vw;
    cursor: pointer;
}
body.leaderBoard_page .main .leader_board{
    width: 100%;
    height: 90vh;
    width: 100%;
    height: 5%;
}
body.leaderBoard_page .main .leader_board td{
    text-align: center;
}

/* From here we wii design help page */

body.help_page .main {
    background-color: black;
    width: 100%;
    height: 100vh;
    border: 2px solid green;
}
body.help_page .main .back{
    width: 4vw;
    cursor: pointer;
}

/* From here we will design account page */

body.account_page .main{
    background-color: black;
    width: 100%;
    height: auto;
}
body.account_page .main .log_out{
    width: 12vw;
    color: black;
    background-color: white;
    font-size: 1.3vw;
    height: 5vh;
    font-weight: 600;
    border: 1.5px solid black;
    border-radius: 25px;
    transition: ease 0.5s;
    cursor: pointer;
}
body.account_page .main .log_out:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
body.account_page .main .sign_out{
    width: 12vw;
    color: black;
    background-color: white;
    font-size: 1.3vw;
    height: 5vh;
    font-weight: 600;
    border: 1.5px solid black;
    border-radius: 25px;
    transition: ease 0.5s;
    cursor: pointer;
}
body.account_page .main .sign_out:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}