<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="shortcut icon"
      type="x-icon"
      href="../static/images/stock_icon.jpg"
    />
    <!--This is the favicon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/global_style.css" />
  </head>
  <body class="home_page">
    <div class="form" id="login_form" style="z-index: 99; display: block">
      <h1 align="center" style="color: black">Login</h1>
      <br />
      <hr style="border: 0.5px solid black" />
      <br />
      <form action="/login" method="post">
        <input
          class="name1"
          id="email1"
          type="email"
          name="email"
          placeholder="Enter your Username or Email id"
          required
        /><br />
        <input
          class="name1"
          id="pass1"
          type="password"
          name="password"
          placeholder="Enter your password"
          required
        /><br />
        <a class="forgot_password" style="color: blue; cursor: pointer"
          >Forgot Password?</a
        ><br /><br /><br /><br /><br /><br />
        <input
          type="submit"
          id="u_login"
          name="login"
          value="LOGIN"
          class="login_button"
        /><br />
        <p style="color: black; font-weight: 500">
          New player?
          <a class="sign_up" style="color: blue; cursor: pointer">Sign up!</a>
        </p>
      </form>
    </div>
    <div
      class="form"
      id="forgotPassword_form"
      style="z-index: 98; display: none"
    >
      <h1 align="center" style="color: black">Forgot Password</h1>
      <br />
      <hr style="border: 0.5px solid black" />
      <br />
      <form action="/forgetPassword" method="post">
        <input
          class="name1"
          type="email"
          name="email"
          placeholder="Enter your Email id"
          required
        />
        <p style="color: black; font-weight: 500; font-size: 0.9vw">
          We will send you a password through a email
        </p>
        <br />
        <input
          type="submit"
          name="Pass"
          value="Get Password"
          class="login_button"
          id="get_pass"
        /><br />
        <input
          type="submit"
          name="back"
          value="Back"
          class="login_button"
          id="back_login"
        />
      </form>
    </div>
    <div
      class="form"
      id="signUp_form"
      style="z-index: 97; display: block; overflow: auto; display: none;"
    >
      <h1 align="center" style="color: black">Sign UP.</h1>
      <br />
      <hr style="border: 0.5px solid black" />
      <br />
      <form action="/sigUp" method="post">
        <input
          class="name1"
          type="text"
          id="first_name"
          name="first_name"
          placeholder="Enter your First Name"
          required
        /><br />
        <input
          class="name1"
          type="text"
          id="last_name"
          name="last_name"
          placeholder="Enter your Last Name"
          required
        /><br />
        <input
          class="name1"
          type="text"
          id="username"
          name="Username"
          placeholder="Enter your Username"
          required
        />
        <p style="color: black; font-weight: 500; font-size: 0.9vw">
          note:- Username should be unique and not your real name.
        </p>
        <br />
        <input
          class="name1"
          type="email"
          id="email2"
          name="email"
          placeholder="Enter your Email id"
          required
        /><br />
        <input
          class="name1"
          type="password"
          id="pass2"
          nam="password"
          placeholder="Create a Strong Password"
          required
        /><br />
        "
        <div>
          <input
            type="submit"
            name="sign-up"
            value="Sign Up"
            class="login_button"
            id="signUp_button"
          />
          <input
            type="submit"
            name="back"
            value="Back"
            class="login_button"
            id="back_login2"
          />
        </div>
      </form>
    </div>
    <div class="main">
      <nav>
        <img src="../static/images/account.png" class="account_icon" />
        <button class="leaderboard">Leaderboard</button>
        <button class="help">Help</button>
        <h1 style="color: black; font-size: 2.5vw">SHARE MARKET</h1>
        <p style="color: black; font-weight: 600">01:00Pm</p>
        <div style="display: flex; align-items: center" class="money_container">
          <img src="../static/images/game_currancy.png" class="money_icon" />
          <div class="money">+1,00,000</div>
        </div>
        <img src="../static/images/setting.png" class="setting_icon" />
      </nav>
      <div class="hero1">
        <div class="chart_container">
          <div class="chart_box">
            <h3>To View Chart Please Select The Company from Given List +</h3>
          </div>
          <footer class="footer">
            <button class="history">History</button>
            <div class="buy_sell">
              <button class="buy">Buy</button>
              <button class="sell">Sell</button>
            </div>
          </footer>
        </div>
        <div class="LOC">
          <table class="list_of_companies" border="all" bordercolor="yellow">
            <tr style="text-align: center">
              <th colspan="3">
                <h2>List of Companies</h2>
              </th>
            </tr>
            <tr style="text-align: center">
              <th>Company</th>
              <th>Risk</th>
              <th>Price</th>
            </tr>
            <tr style="text-align: center">
              <td>A</td>
              <td>H</td>
              <td>+10</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="../static/js/global_script.js"></script>
  </body>
</html>