<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leader Board</title>
    <link
      rel="shortcut icon"
      type="x-icon"
      href="../static/images/stock_icon.jpg"
    />
    <!--This is the favicon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/global_style.css" />
</head>
<body class="leaderBoard_page">
    <div class="main">
        <nav>
            <img class="back_png" src="../static/images/back.png">
            <div style="width: 60%; letter-spacing: 0.3vw;">
            <h1 style="color: black; font-size: 2.5vw;">LEADER BOARD</h1>
            </div>
        </nav>
        <div style="background-color: black; width: 100vw; height: 90vh;">
        <table class="leader_board" border="all" bordercolor="yellow">
            
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Portfolio Value</th>
                <th>Balance</th>
                <th>Net Worth</th>
            </tr>
            {% for user in leaderboard %}
            <tr style="color:black;">
                <td>{{ loop.index }}</td>
                <td>{{ user['Username'] }}</td>
                <td>₹ {{ user['Portfolio_value']}}</td>
                <td>₹ {{ user['Balance'] }}</td>
                <td>₹ {{ user['Net_Worth'] }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    <script src="../static/js/global_script.js"></script>
</body>
</html>