<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="shortcut icon" type="x-icon" href="../static/images/stock_icon.jpg"/><!--This is the favicon-->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/global_style.css">
</head>
<body class="Logo_body">
    <div class="main">
        <img src="../static/images/logo.png" class="Logo" id="logo"><!--Here we are adding a company logo-->
        <p>Learn With Fun.</p><!--Here we are adding a tagline for the company-->
    </div>
    <script src="../static/js/global_script.js"></script>
</body>
</html>

