<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link
      rel="shortcut icon"
      type="x-icon"
      href="../static/images/stock_icon.jpg"
    />
    <!--This is the favicon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <!--This is the google font cmd-->
    <link rel="stylesheet" href="../static/css/global_style.css" />
  </head>
  <body class="privacyPolicy">
    <div class="main">
      <h1 align="center" style="font-size: 4vw;">PRIVACY POLICY</h1>
      <br /><br />
      <ul style="padding-left: 40px">
        <li>
          <h2>Introduction : -</h2>
          <br />
          <p>Welcome to Stock Exchange Game. We value your privacy and are committed to protecting 
            your personal information.<br>This Privacy Policy explains what data we collect, how we use it, and your rights.
          </p>
        </li><br><br>
        <li>
            <h2>Information We Collect : -</h2><br>
            <p>We may collect the following types of information: <br>
                <ul>
                    <li><p>Account Information : - Username, Email, Password.</p></li>
                    <li><p>Game DAta : - Portfolio Value, Balance, Net Worth, Leaderboard Rank.</p></li>
                    <li><p>Usage Information : - How you interact with the game(Eg; Gameplay actions).</p></li> 
                </ul>
            </p>
        </li><br><br>
        <li>
            <h2>How We Use Your Information : - </h2><br>
            <p>We use your data to: <br>
                <ul>
                    <li><p>Create and Manage your game account.</p></li>
                    <li><p>Display your rank and stats on the leaderboard.</p></li>
                    <li><p>Save your progress(Balance,Portfolio,Assets).</p></li>
                    <li><p>Improve the gameplay experience.</p></li>
                </ul>
            </p>
        </li><br><br>
        <li>
            <h2>Sharing of Information : - </h2><br>
            <p>We do not sell or share your personal data with third parties.</p>
            <p>Informationmay be shared only if: <br>
                <ul>
                    <li><p>Required by law.</p></li>
                    <li><p>Necessary to protect the rights and safety of the game or it's users.</p></li>
                </ul>
            </p>
        </li><br><br>
        <li>
            <h2>Data Security : - </h2><br>
            <ul>
            <li><p>Passwords are stored securely (Hashed, Not in plain text).</p></li>
            <li><p>Database access is restricted.</p></li>
            <li><p>We use secure connections(HTTPS recommended if deployed).</p></li>
            </ul>
        </li><br><br>
        <li>
            <h2>Your Rights : - </h2><br>
            <p>You have the right to:</p>
            <ul>
                <li><p>View and update your account information.</p></li>
                <li><p>Request deletion of your account and game data.</p></li>
            </ul>
        </li><br><br>
        <li>
            <h2>Changes to This Policy : - </h2><br>
            <p>We may update this Privacy Policy from time to time. Updates will be posted on this page.</p>
        </li><br><br>
        <li>
            <h2>Contact Us.</h2><br>
            <p>If you have questions about this policy, contact : - &nbsp;&nbsp;&nbsp;<a style="color:blue;" href="mailto:salunkheshubham263@gmail.com">salunkheshubham263@gmail.com</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: blue;" href="tel:+918291526658">+91 8291526658</a></p>
        </li>
      </ul><br><br>
      <button class="back">Back</button><br><br>
      <h1 align="center" style="font-size: 4vw;">THANKYOU FOR READING</h1>
    </div>
    <script src="../static/js/global_script.js"></script>
  </body>
</html>